<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/styles/navAndTabs.css">

    <style>
        .hidden{
            display:none;
        }
        td{
            border: 1px solid dimgrey;
            padding: 4px;
        }
    </style>
</head>
<body>
    <h1>Dashboard</h1>
    <div class="showOrHide">
        <p>Welcome  <%= instructorName %> </p>
        <a href="/homepage">Classroom Galeria</a>
        <br>
        <a href="/createNewClassroom">New Classroom</a>
        <br>
        <a href="/logout">Logout</a>
        <br>
    </div>
    <br>
    <!-- ClassName: -->
    <h1>Class name: <%= className %></h1>

    <!-- Navs and Tabs -->
    <nav>
        <div class="nav-1">
            <a href="#tab1" class="btn btn-primary tab-toggler">Modules' Form</a>
        </div>
        <div class="nav-2">
            <a href="#tab2" class="btn btn-primary tab-toggler">Modules Register</a>
        </div>
        <div class="nav-3">
            <a href="#tab3" class="btn btn-primary tab-toggler">Mark Attendance</a>
        </div>
        <div class="nav-4">
            <a href="#tab4" class="btn btn-primary tab-toggler">Attendance Register</a>
        </div>
        <div class="nav-5">
            <a href="#tab5" class="btn btn-primary tab-toggler">Insert New Student</a>
        </div>
        <div class="nav-6">
            <a href="#tab6" class="btn btn-primary tab-toggler">Students Register</a>
        </div>
    </nav>

    <!-- Modules' Form -->
    <div>
        <div id="tab1" class="tabs show">
            <header>Modules' Form</header>
            <form action="/insertModule" method="post" class="module_form">
                <label>
                    Please select a week
                    <select name="weekNo">
                        <% for( let i = 0; i < numberOfWeeks; i++ ) { %>
                            <option value= "<%= i+1 %>" >Week  <%= i+1 %></option>
                        <% } %>
                    </select>
                </label>
                <br>
                <label>
                    Please select the Day of Module
                    <select name="dayOfModule">
                        <% for( let i = 0; i < classDays.length; i++ ) { %>
                            <option value="<%= i+1 %> "> <%= classDays[i] %>  </option>
                        <% } %>
                    </select>
                </label>
                <br>
                <label>
                    Please insert the module title:
                    <input type="text" name="titleOfModule">
                </label>
                <br>
                <label class="hidden">
                    Hidden input
                    <input type="hidden" name="className" value="<%= className %>" >
                </label>
                <br>
                <input type="submit" >
            </form>
        </div>
    </div>

    <!-- Modules Register -->
    <div>
        <div id="tab2" class="tabs hide">
            <header>Modules Register</header>
            <table>
                <tr>
                    <td>weeks</td>
                    <% for( let j = 0; j < classDays.length; j++ ) { %>
                        <td>
                            <%= classDays[j] %> 
                        </td>
                    <% } %>
                </tr>
    
    
                
                    
                <% for( let index = 0; index < numberOfWeeks; index++ ) { %>
                <tr>
    
                    <% for( let i = 0; i < 60; i++ ) { %>
                        <%if(i===0){%>
                            <td>week <%= index +1 %>  </td>
                        <%}%>
                        <% if (weekNo[i] == index+1 ) { %>
                            <td>
                                <%=titleOfModule[i]%> 
                             
                            </td>
                        <% } %>
                    <% } %>
                </tr>
                <% } %>
    
            </table>
        </div>
    </div>

    <!-- Mark Attendance Tab -->
    <div>
        <div id="tab3" class="tabs hide">
            <header>Mark Attendance</header>
            <form action="/markAttendance" method="post">

                <span>
                    Students:
                    <% for( let i = 0; i < studentName.length; i++ ) { %>
                        <input type="checkbox" name="checkedName" value="<%= studentName[i] %>">
                        <%= studentName[i] %>
                    <% } %>
                </span>
                <br>
                <label>
                    Status:
                    <input type="radio" name="status" value="true">
                    Present
                    <input type="radio" name="status" value="false">
                    Absent
                </label>
                <br>
                <label>
                    Please select the Day of Attendance:
                    <select name="dayOfAttendance">
                        <% for( let i = 0; i < classDays.length; i++ ) { %>
                            <option value="<%= i+1 %> "> <%= classDays[i] %>  </option>
                        <% } %>
                    </select>
                </label>
                <br>
                <label class="hidden">
                    Hidden input
                    <input type="hidden" name="className" value="<%= className %>" >
                </label>
                <br>
                <input type="submit">
            </form>
        </div>
    </div>

    <!-- Attendance Register Tab -->
    <div>
        <div id="tab4" class="tabs hide">
            <header>Attendance Register</header>
            <% for( let i = 0; i < numberOfWeeks; i++ ) { %>
                <table>
                    <tr>
                        <th>
                            Week <%= i+1 %> 
                        </th>
                    </tr>
                    <tr>
                        <td>S/N</td>
                        <td>Students</td>
                        <% for( let j = 0; j < classDays.length; j++ ) { %>
                            <td><%= classDays[j] %></td> 
                        <% } %>
                    </tr>
                    <% for( let k = 0; k < studentName.length; k++ ) { %>
                        <tr>
                            <td><%= k +1 %>  </td>
                            <td><%= studentName[k] %> </td>
                            
                            <% for( let l = 0; l < classDays.length; l++ ) { %>
                                
                                    <td><%= status[k]  %></td>
                               
                            <% } %>
                        </tr>
                    <% } %>
                </table>
            <% } %>
        </div>
    </div>

    <!-- Insert New Student Tab -->
    <div>
        <div id="tab5" class="tabs hide">
            <header>Insert New Student</header>
            <form action="/insertNewStudent" method="post">
                <label>
                    Student Name:
                    <input type="text" name="studentName">
                </label>
                <br>
                <label>
                    Student Email:
                    <input type="email" name="studentEmail">
                </label>
                <br>
                <label>
                    Parent Name:
                    <input type="text" name="parentEmail">
                </label>
                <br>
                <label>
                    Parent Phone Number:
                    <input type="number" name="parentPhoneNo">
                </label>
                <br>
                <label>
                    Student Phone Number:
                    <input type="number" name="studentPhoneNo">
                </label>
                <br>
                <label>
                    Gender:
                    <input type="radio" name="gender" value="male">
                    Male
                    <input type="radio" name="gender" value="female">
                    Female
                </label>
                <br>
                <label>
                    Date of Birth:
                    <input type="date" name="dob">
                </label>
                <br>
                <br>
                <label class="hidden">
                    Hidden input
                    <input type="hidden" name="className" value="<%= className %>" >
                </label>
                <br>
                <input type="submit">
            </form>
        </div>
    </div>

    <div>
        <div id="tab6" class="tabs hide">
            <header>Insert New Student</header>
            <table>
                <tr>
                    <td>S/N</td>
                    <td>Student Name</td>
                    <td>Student Email</td>
                    <td>Parent Email</td>
                    <td>Parent Phone No.</td>
                    <td>Student Phone No.</td>
                    <td>Gender</td>
                    <td>Date of Birth</td>
                </tr>
                
                <% for( let i = 0; i < studentName.length; i++ ) { %>
                    <tr>
                        <td><%= i +1 %>  </td>
                       <% for( let j = 0; j < 7; j++ ) { %>
                            
                            <% if ( studentName.indexOf(studentName[j]) == i ) { %>
                                <td>
                                    <%= studentName[j]  %> 
                                </td>
                            <% } %>
                            
                            <% if ( studentName.indexOf(studentName[j]) == i ) { %>
                                <td>
                                    <%= studentEmail[j]  %> 
                                </td>
                            <% } %>
                            
                            <% if ( studentName.indexOf(studentName[j]) == i ) { %>
                                <td>
                                    <%= parentEmail[j]  %> 
                                </td>
                            <% } %>
                            
                            <% if ( studentName.indexOf(studentName[j]) == i ) { %>
                                <td>
                                    <%= parentPhoneNo[j]  %> 
                                </td>
                            <% } %>
                            
                            <% if ( studentName.indexOf(studentName[j]) == i ) { %>
                                <td>
                                    <%= studentPhoneNo[j]  %> 
                                </td>
                            <% } %>
                            
                            <% if ( studentName.indexOf(studentName[j]) == i ) { %>
                                <td>
                                    <%= gender[j]  %> 
                                </td>
                            <% } %>
                            
                            <% if ( studentName.indexOf(studentName[j]) == i ) { %>
                                <td>
                                    <%= dob[j]  %> 
                                </td>
                            <% } %>
    
                       <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
    
    <script src="/public/script/navAndTabs.js"></script>
    <script src="/public/script/handleForm.js"></script>
</body>
</html>